@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  padding: 70px 0;
}

img {
  margin: 30px 0;
  height: 50vh;
}

h2 {
  margin: 50px 0 20px 0;
}

p {
  font-family: 'Roboto',
  sans-serif;
  text-align: justify;
  font-size: 20px;
  width: fit-content;
  margin: auto;
}

@media screen and (max-width: 1200px) {
  img {
    width: 100%;
    height: auto;
  }
}
