@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  text-align: center;
  position: relative;
  padding-bottom: 40px;
}

.container {
  padding: 70px 0;
  position: relative;
  min-height: 90vh;
}

img {
  margin: 30px 0;
  height: 50vh;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
}

h2 {
  margin: 50px 0 20px 0;
}

p {
  font-family: 'Roboto Slab',
  sans-serif;
  text-align: justify;
  font-size: 20px;
  width: fit-content;
  margin: auto;
}

a {
  position: absolute;
  bottom: 0;
  right: 0;
}

.progress {
  margin: 0!important;
}

@media screen and (max-width: 1200px) {
  img {
    width: 100%;
    height: auto;
  }
}
